name: Docker CI/CD

on:
  push:
    branches: [ main ]

  release:
    types: [ published ]

  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      
      - name: Determine version tag
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
            echo "PUBLISH_LATEST=true" >> $GITHUB_ENV

          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            TAG="$(echo $GITHUB_REF_NAME)-$(date +%Y%m%d-%H%M)-$(git rev-parse --short HEAD)"
            echo "TAG=$TAG" >> $GITHUB_ENV
            echo "PUBLISH_LATEST=false" >> $GITHUB_ENV

          else
            echo "TAG=dev" >> $GITHUB_ENV
            echo "PUBLISH_LATEST=false" >> $GITHUB_ENV
          fi

      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./docker
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/smartspend:${{ env.TAG }}
            ${{ env.PUBLISH_LATEST == 'true' && format('{0}/smartspend:latest', secrets.DOCKER_HUB_USERNAME) || '' }}

      
      - name: Publish docker-compose as OCI artifact
        run: |
          docker compose -f docker/docker-compose.yml convert \
          | docker buildx build --push \
            --tag ${{ secrets.DOCKER_HUB_USERNAME }}/smartspend-compose:${{ env.TAG }} -
# testin comment